._ {
    display: flex;
    justify-content: space-between;
    padding: 8px 25px;
    margin-block-start: 15px;

    background: linear-gradient(180deg, #2B3341 0%, rgba(61, 73, 95, 0.00693628) 99.99%, rgba(33, 39, 51, 0) 100%);
    border: 0.681439px solid $purple_100;
    filter: drop-shadow(0px 2.72575px 2.72575px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    &_title {
        @include font-axiforma(400);
        font-size: 13px;
        color: $purple_200;
    }

    &_number {
        @include font-axiforma(400);
        font-size: 13px;
    }
}